In [1]:
import pandas as pd

In [2]:
#Importar os datasets
df_2000 = pd.read_csv("datasets/gasolina_2000+.csv", index_col=0)
df_2010 = pd.read_csv("datasets/gasolina_2010+.csv", index_col=0)
df = pd.concat([df_2000, df_2010])

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

/tmp/ipykernel_204929/2274729668.py:3: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2010 = pd.read_csv("datasets/gasolina_2010+.csv", index_col=0)

In [3]:
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])

df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "/{:02d}".format(x.month))

In [4]:
df["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

In [5]:
gaso_comun = df[df["PRODUTO"] == "GASOLINA COMUM"]
gaso_comun["PREÇO MÉDIO REVENDA"].mean()

3.1954091217649556

In [14]:
df["MES"] = df["DATA FINAL"].apply(lambda x: x.month)
df_filtred = df.groupby("ANO-MES")[["PREÇO MÉDIO REVENDA", "MES"]].last()
(df_filtred[df_filtred["MES"] == 12] / df_filtred[df_filtred["MES"] == 12].shift(1) - 1) * 100

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004/12                  NaN  NaN
2005/12            11.910377  0.0
2006/12            -0.474183  0.0
2007/12            -0.211752  0.0
2008/12            13.740053  0.0
2009/12            -6.203358  0.0
2010/12             0.596718  0.0
2011/12             1.532378  0.0
2012/12             5.647517  0.0
2013/12           -12.949309  0.0
2014/12            -0.211752  0.0
2015/12            20.795756  0.0
2016/12             4.435661  0.0
2017/12            15.601346  0.0
2018/12            32.739178  0.0
2019/12             4.549192  0.0
2020/12            -3.119266  0.0